$mustard: rgb(213, 159, 52);
$terracotta:rgb(221, 133, 94);
$cameorose:rgb(228, 193, 185);
$deepgreen: rgb(4, 56, 51);
$steel: rgb(118, 134, 137);
$canyonclay: rgb(210, 146, 124);
a:hover {
    color: $deepgreen
}

body {
    background-color: $steel !important;
}

// .world {
//     min-height: 300px;
//     height: 100%;
// }